.Body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(64, 152, 132);
}

.Background {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(149, 255, 211);
    height: 900px;
    width: 600px;
    border-radius: 40px;
    border-color: azure;
    border-width: 7px;
}

.Screen{
    background-color: azure;
    height: 500px;
    width: 500px;
    margin-top: 50px;
    border-radius: 15px;
    border-color: rgb(64, 152, 132);
    border-style: solid;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    gap: 0px;
}

.Text {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    font-weight: 1000;
    color: rgb(64, 152, 132);
    border-color: white;
    padding: 0;
    margin-bottom: 15px;
}

.Timer{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.Time {
    height: 30px;
    width: 200px;
    padding-top: 0;
    margin-top: 0;
    border-color: rgb(64, 152, 132);
    border-style: solid;
    border-radius: 20px;
    font-family: "Delius", cursive;
    font-weight: 1000;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    color:  rgb(64, 152, 132);;
}

.dot {
    color: rgb(64, 152, 132);
    font-family: "Delius", cursive;
    font-weight: 1000;
    font-size: 40px;
    font-style: normal;
}

.button{
    margin-top: 20px;
    height: 30px;
    width: 200px;
    color:  rgb(64, 152, 132);
    border-color: rgb(64, 152, 132);
    border-style: solid;
    border-radius: 20px;
    font-family: "Delius", cursive;
    font-weight: 1000;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    background-color: white;
}

.button:hover {
    color:  rgb(103, 218, 191);
    background-color: rgb(252, 252, 252);
}

.button:active {
    opacity: 80%;
    width: 198px;
}

.logo {
    height: 60px;
    margin-bottom: 0;
}

.Countdown {
    display: none;
    justify-content: center;
    text-align: center;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    font-weight: 1000;
    color: rgb(64, 152, 132);
}

.button2 {
    display: none;
    align-items: center;
    justify-content: center;
}

.Start{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}